@font-face {
  font-family: "roboto-normal";
  src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "roboto-bold";
  src: url(./Roboto/Roboto-Bold.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #accba1;
  color: white;
  font-family: 'roboto-normal';
}

h1 {
  background-color:#e06600;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 20%;
  font-family: 'roboto-bold';
}

canvas {
  border: 5px white solid;
  border-right: none;
  border-left: none;
  display: block;
}

.style-container {
  border: 5px solid #e06600;
  border-right: none;
  border-left: none;
  width: 1000px;
}

.instructions-container {
  width: 1000px;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.instructions {
  line-height: 2rem;
  text-align: center;
}

.checkbox-toggle {
  width: 1000px;
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  accent-color: #e06600; 
  width: 20px; 
  height: 20px; 
}

.checkbox-toggle label {
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 900px) and (orientation: landscape) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  main {
    transform: scale(1.8);
    transform-origin: top center;
    margin-bottom: 24rem;
  }

  footer {
    transform: scale(1.8);
  }
  
  .instructions {
    font-size: 1rem;
  }
} 

@media (max-width: 900px) {
  body {
    transform: scale(0.37);
    transform-origin: top center;
  }

  button {
    width: 30vw;
  }

  .instructions {
    font-size: 1rem;
  }
} 